# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Vars / secrets
*.tfvars
*.tfvars.json
sa.json

# Kube
.kube/
kubeconfig
kubeconfig.*

# Misc
.env
*.pem
*.key
id_rsa*
.DS_Store